* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}
.header {
    background-color: rgb(235, 65, 65);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
}
.history {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}
.history div {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 75%;
    max-width: 400px;
    
    flex: 0 1 0;
    /*How to align message blocks to left or right?*/
}
.msg-sent {
    background-color: rgb(250, 200, 200);
    align-self: flex-end;
}
.msg-received {
    background-color: rgb(235, 150, 150);
    align-self: flex-start;
}
.input {
    width: 100%;
    background-color: rgb(235, 65, 65);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.input input {
    width: 96%;
    height: 30px;
    border-radius: 5px;
    text-align: left;
}
